*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-section {
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
}
.d-flex {
    display: flex;
}
.hero-image img {
    width: 70% !important;
}
.hero-content {
    padding: 1rem;
    margin-top: 6rem;
}
.hero-content p {
    margin-bottom: 3rem;
}
.hero-content a {
    border: 1px solid rgb(63, 61, 86);
    padding: 1rem;
    width: 6rem;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 61, 86);
    border-radius: 10px;
}
.feature-section {
    border: 3px solid whitesmoke;
    padding: 2rem;
    margin-top: 2rem;
}
.section-title h1,
.section-title h3,
.section-title h2 {
    text-align: center;
}
.single-feature {
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}
.feature-icon img {
    color: rgb(63, 61, 86);
}
.feature-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.nav-sec {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav-list li {
    list-style-type: none;
    margin-left: 2rem;
}
.nav-list li a {
    text-decoration: none;
    color: black;
}
.nav-list {
    display: flex;
}
.testimonial-section {
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
    margin-top: 3rem;
    padding: 1rem;
}
.testimonial-active {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.test-image img {
    width: 10%;
    border-radius: 50%;
}
.test-image1 img {
    width: 15%;
    height: 30%;
    border-radius: 50%;
}
.single-testimonial {
    margin-top: 2rem;
    padding: 1rem;
}
