*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/* .hero-section {
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
} */
.d-flex {
    display: flex;
    margin-top: 2rem;
}
.hero-image img {
    width: 100% !important;
}
.hero-content {
    padding: 1rem;
    margin-top: 6rem;
}
.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(163, 14, 14);
    margin-bottom: 1rem;
}
.hero-content p {
    margin-bottom: 2rem;
    width: 50%;
    color: gray;
}
.hero-content a {
    border: 1px solid rgb(163, 14, 14);
    padding: 0.7rem;
    width: 20rem;
    text-decoration: none;
    color: white;
    background-color: rgb(163, 14, 14);
    border-radius: 10px;
}
.feature-section {
    border: 3px solid whitesmoke;
    padding: 2rem;
    margin-top: 2rem;
}
.section-title h1,
.section-title h3,
.section-title h2 {
    text-align: center;
}
.section-title h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.single-feature1 {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.feature-icon img {
    width: 70% !important;
    margin-left: -6rem;
    border-radius: 12px;
}
.icon1 img {
    margin-left: -12rem;
    width: 110% !important;
}
.icon2 img {
    margin-left: 3rem !important;
    width: 60% !important;
}
.feature-content1 h4,
.feature-content2 h4,
.feature-content3 h4 {
    font-size: 2rem;
    font-weight: 700;
}
.feature-content1 p,
.feature-content2 p,
.feature-content3 p {
    text-align: center;
}
.feature-content1 {
    margin-left: -12rem;
    margin-top: 5rem;
}
.feature-content2 {
    margin-left: 7rem;
    margin-top: 7rem;
    width: 100%;
    text-align: center;
}
.feature-content3 {
    margin-top: 7rem;
    margin-left: -7rem;
}
.nav-sec {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.nav-list li {
    list-style-type: none;
    margin-left: 2rem;
}
.nav-list li a {
    text-decoration: none;
    color: black;
}
.nav-list {
    display: flex;
}
.testimonial-section {
    border: 1px solid rgb(163, 14, 14);
    background-color: rgb(163, 14, 14);
    margin-top: 3rem;
    padding: 2.3rem;
}
.section-title h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.testimonial-active {
    display: flex;
    text-align: center;
}
.test-image img,
.test-image1 img {
    width: 30%;
    border-radius: 50%;
}
.single-testimonial,
.single-testimonial1 {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-top: 2rem;
    padding: 1rem;
    height: 18rem;
    width: 25rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
.single-testimonial {
    margin-top: 3rem;
    margin-left: 14rem !important;
}
.single-testimonial1 {
    margin-top: 3rem;
    margin-left: 2rem !important;
}
.info h4 {
    margin-bottom: 9px;
}
